{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": ["twMerge", "clsx", "cn"]
}
