@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@config '../../tailwind.config.ts';

:root {
  --scroll-speed: 60s;
}

@theme {
  --font-raleway: 'Raleway', sans-serif;
}

body {
  @apply font-raleway lining-nums;
}

@utility scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

@utility font-small-caps {
  font-variant: all-small-caps;
}

@utility underline-active {
  @apply before:bg-secondary-500 relative shadow-[0px_-8px_4px_-4px_#fb9d6a80_inset] before:absolute before:-bottom-0.25 before:h-0.5 before:w-full before:scale-x-100 before:transition-transform before:duration-300 before:ease-in-out;
}

@utility underline-hover {
  @apply relative before:absolute before:-bottom-0.25 before:h-0.5 before:w-full before:scale-x-0 before:transition-transform before:duration-300 before:ease-in-out hover:before:scale-x-100 hover:before:bg-primary-500;
}

@utility scrollbar-auto {
  -ms-overflow-style: auto; /* IE and Edge */
  scrollbar-width: auto; /* Firefox */

  &::-webkit-scrollbar {
    display: initial; /* Chrome, Safari, Opera */
  }
}

@utility button-animation {
  @apply hover:before:bg-beige-50 hover:before:duration-1000 hover:before:opacity-20 hover:before:scale-x-100 relative;
  @apply before:absolute before:inset-0 before:bg-[inherit] before:rounded-[inherit] before:scale-x-0 before:transform relative;
  @apply hover:bg-beige-300 hover:text-dark-600 transition-colors duration-500;
}

/*================ANIMATION==================*/
@keyframes homepage-zoom-in {
  0% {
    transform: scale(1);
    opacity: 100%;
    translate: 0px;
  }
  90% {
    transform: scale(3);
    opacity: 100%;
    translate: 70% 0px;
  }
  100% {
    transform: scale(3);
    opacity: 0%;
    translate: 70% 0px;
  }
}

.homepage-animation {
  animation: homepage-zoom-in 7s ease-in-out forwards;
  animation-delay: 3s;
}

.animate-return-horizontal-scroll {
  animation: var(--scroll-speed) return-horizontal-scroll linear infinite;
}

@keyframes return-horizontal-scroll {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.-animate-return-horizontal-scroll {
  animation: var(--scroll-speed) -return-horizontal-scroll linear infinite;
}

@keyframes -return-horizontal-scroll {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes -horizontal-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.-animate-infinite-horizontal-scroll {
  animation: var(--scroll-speed) -horizontal-scroll linear infinite;
}
