@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Lobster&display=swap');
@import 'tailwindcss';
@config '../../tailwind.config.ts';

@layer base {
  textarea {
    @apply resize-none;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    @apply m-0 appearance-none;
  }

  input[type='number'] {
    -moz-appearance: textfield; /* Firefox */
  }
}

@theme {
  --font-raleway: 'Raleway', sans-serif;
}

body {
  @apply font-raleway lining-nums;
}

@utility scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

@utility font-small-caps {
  font-variant: all-small-caps;
}

@utility center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@utility underline-active {
  @apply before:bg-secondary-500 relative shadow-[0px_-8px_4px_-4px_#fb9d6a90_inset] before:absolute before:-bottom-0.25 before:h-0.5 before:w-full before:scale-x-100 before:transition-transform before:duration-300 before:ease-in-out;
}

@utility underline-hover {
  @apply hover:before:bg-primary-500 relative before:absolute before:-bottom-0.25 before:h-0.5 before:w-full before:scale-x-0 before:transition-transform before:duration-300 before:ease-in-out hover:before:scale-x-100;
}

@utility scrollbar-auto {
  -ms-overflow-style: auto; /* IE and Edge */
  scrollbar-width: auto; /* Firefox */

  &::-webkit-scrollbar {
    display: initial; /* Chrome, Safari, Opera */
  }
}

@utility button-animation {
  @apply hover:before:bg-beige-50 relative hover:before:scale-x-100 hover:before:opacity-20 hover:before:duration-1000;
  @apply relative before:absolute before:inset-0 before:scale-x-0 before:transform before:rounded-[inherit] before:bg-[inherit];
  @apply hover:bg-beige-300 hover:text-dark-600 transition-colors duration-500;
}

.summer-bg {
  @apply relative size-full bg-[url(/images/summer-beach.webp)] object-cover;
}

.summer-bg:before {
  content: '';
  @apply absolute size-full bg-white bg-[url(/images/paint.jpg)] bg-no-repeat object-cover object-center mix-blend-screen;
}

/* .summner-bg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-image: url('/images/paint.png');
  background-size: cover;
  background-position: center;
  mix-blend-mode: screen;
} */

/*================ANIMATION==================*/
@theme {
  --animate-fade-in: fadeIn 1s ease 0s forwards;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-draw-line: drawLine 1s ease 0s forwards;
  @keyframes drawLine {
    to {
      stroke-dashoffset: 0;
    }
  }

  --animate-marquee-ltr: marquee-ltr 3s linear infinite;
  @keyframes marquee-ltr {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  --animate-shrink-progress-bar: shrink-progress-bar 3s linear forwards;
  @keyframes shrink-progress-bar {
    from {
      width: 100%;
    }
    to {
      width: 0%;
    }
  }

  @keyframes homepage-zoom-in {
    0% {
      transform: scale(1);
      opacity: 100%;
      translate: 0px;
    }
    90% {
      transform: scale(3);
      opacity: 100%;
      translate: 70% 0px;
    }
    100% {
      transform: scale(3);
      opacity: 0%;
      translate: 70% 0px;
    }
  }

  --animate-return-horizontal-scroll: return-horizontal-scroll 60s linear
    infinite;
  @keyframes return-horizontal-scroll {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  --animate-return-horizontal-scroll-reverse: -return-horizontal-scroll 60s
    linear infinite;
  @keyframes -return-horizontal-scroll {
    0% {
      transform: translateX(-50%);
    }
    50% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  --animate-infinite-horizontal-scroll-reverse: -horizontal-scroll 60s linear
    infinite;
  @keyframes -horizontal-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  --animate-translate-vertical-in: translate-vertical-in 700ms
    cubic-bezier(0.66, -0.3, 0.47, 1.3) forwards;
  @keyframes translate-vertical-in {
    0% {
      transform: translateY(-200%);
    }
    100% {
      transform: translateY(0);
    }
  }

  --animate-translate-vertical-out: translate-vertical-out 700ms
    cubic-bezier(0.66, -0.3, 0.47, 1.3) forwards;
  @keyframes translate-vertical-out {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(200%);
    }
  }

  --animate-login-moving: login-moving 1s ease-in forwards;
  @keyframes login-moving {
    /* Phase 1: scale 50% -> 100%, origin left */
    0% {
      width: 50%;
      transform: translateX(0);
      transform-origin: left;
    }
    20% {
      width: 100%;
      transform: translateX(0);
      transform-origin: left;
    }
    /* Phase 2: scale 100% -> 50%, origin right */
    100% {
      width: 50%;
      transform: translateX(100%);
      transform-origin: right;
    }
  }
  --animate-login-moving-reverse: login-moving-reverse 1s ease-in forwards;
  @keyframes login-moving-reverse {
    /* Phase 1: scale 50% -> 100%, origin right */
    0% {
      width: 50%;
      transform: translateX(100%);
      transform-origin: right;
    }
    80% {
      width: 100%;
      transform: translateX(0%);
      transform-origin: right;
    }
    /* Phase 2: scale 100% -> 50%, origin left */
    100% {
      width: 50%;
      transform: translateX(0%);
      transform-origin: left;
    }
  }

  --animate-loading: loading 2.2s infinite;
  @keyframes loading {
    0% {
      transform: translateX(-200%);
    }
    70% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(200%);
    }
  }

  --animate-loading-vertical: loading-vertical 2.2s infinite;
  @keyframes loading-vertical {
    0% {
      transform: translateY(-200%);
    }
    70% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(200%);
    }
  }
}
