@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@config '../../tailwind.config.ts';

@theme {
  --font-raleway: 'Raleway', sans-serif;
}

body {
  @apply font-raleway lining-nums;
}

@utility scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

@utility font-small-caps {
  font-variant: all-small-caps;
}

@utility underline-active {
  @apply before:bg-primary-500 relative shadow-[0px_-8px_4px_-4px_hsla(31,75%,70%,0.7)_inset] before:absolute before:-bottom-0.25 before:h-0.5 before:w-full before:scale-x-100 before:transition-transform before:duration-300 before:ease-in-out;
}

@utility underline-hover {
  @apply relative before:absolute before:-bottom-0.25 before:h-0.5 before:w-full before:scale-x-0 before:transition-transform before:duration-300 before:ease-in-out hover:before:scale-x-100 hover:before:bg-shade-500;
}

@utility scrollbar-auto {
  -ms-overflow-style: auto; /* IE and Edge */
  scrollbar-width: auto; /* Firefox */

  &::-webkit-scrollbar {
    display: initial; /* Chrome, Safari, Opera */
  }
}
